main {
    text-align: center;
}

/* layout */
.memes-playground-container {
    height: 50%;
    width: 100%;
}

@media (max-width: 768px) {
    .memes-playground-container {
        flex-direction: column;
    }
}

.editor-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* nav */
.nav-wrapper {
    display: flex;
    height: 70px;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    background-color: #00d4bf;
}

.empty-nav-div {
    width: 100%;
    height: 60px;
    background-color: red;
}

.nav-ul {
    padding: 0;
    display: flex;
    height: 60px;
    margin: 0;
    position: absolute;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    background-color: #009688;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

.nav-ul li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #00d4bf;
    cursor: pointer;
    transition: 0.3s;
}

.nav-ul li:hover {
    box-shadow: 1px 10px 0px 0px #ffffff;
}

.nav-ul li:first-child {
    border-left: 2px solid #00d4bf;
}

.nav-ul li:last-child {
    border-right: 2px solid #00d4bf;
}

.nav-ul li:last-child:hover {
    box-shadow: 0px 10px 0px 0px #ffffff;
}

.nav-btn {
    border: none;
    background: none;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
}

nav a {
    color: white;
}

/* center */
.center {
    flex-grow: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* canvas */

.control-bar {
    display: inline-block;
}

.input-line-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
}

.input-line-wrapper button:hover, input:hover, .input-line-wrapper select:hover {
    border-bottom: 5px solid #00d4bf;
}

.input-line-wrapper>* {
    margin-left: 5px;
    font-size: 20px;
}

canvas {
    border: 1px solid black;
}

.add-line-btn {
    border: none;
    border-bottom: 5px solid #009688;
    background-color: white;
    height: 50px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.select-font {
    border: none;
    height: 50px;
    border-bottom: 5px solid #009688;
    text-align-last: center;
}

.text-input {
    border: 0;
    width: 150px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-bottom: solid 5px #009688;
    transition: 0.3s;
}

.text-input:focus {
    width: 240px;
    border-color: #00d4bf;
}

.final-stage {
    bottom: 0;
}

/* meme text */
.meme-text {
    height: 30px;
    background-color: #812222;
    width: 30px;
    display: inline-block
}

.image-render-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
}

.image-render-style:hover {
    box-shadow: 0px 10px 41px 5px rgba(0, 0, 0, 0.75);
    transform: translateY(-15px) scale(1.04);
}


/* footer */
.footer-wrapper {
    position: relative;
    background-color: #00d4bf;
    height: 80px;
    width: 100%;
}

.ul-footer {
    display: flex;
    height: 70px;
    margin-top: 10px;
    position: absolute;
    flex-wrap: wrap;
    background: #009688;
    list-style: none;
    width: 100%;
}

.ul-footer li {
    min-width: 85px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #00d4bf;
    cursor: pointer;
    transition: 0.3s;
}

.ul-footer li:hover {
    box-shadow: 1px -10px 0px 0px #ffffff;
}

.ul-footer li:last-child {
    border-right: 2px solid #00d4bf;
}

.ul-footer li:last-child:hover {
    box-shadow: 0px -10px 0px 0px #ffffff;
}

@media (max-width: 395px) {
    .ul-footer li:nth-child(3) {
        border-right: 2px solid #00d4bf;
    }

    .ul-footer li:hover {
        box-shadow: none;
    }
}



/* helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

/* buttons  */

.btn {
    cursor: pointer;
    margin-bottom: 10px;
}

.font-special {
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.control-bar-btn {
    border: none;
    background: none;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    color: white;
}

.plus-minus {
    font-size: 30px;
}

.align-btn {
    font-size: 20px;
}

.blue-btn {
    border: none;
    background: none;
    height: 50px;
    color: white;
    background-color: #009688;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.blue-btn:hover {
    border-radius: 8px;
    background-color: #00d4bf;
    color: white;
}

.font-select-blue {
    border: none;
    font-size: 20px;
    border-bottom: 5px solid #009688;
    height: 34px;
    transition: 0.3s;
}

.font-select-blue:hover {
    border-bottom: 5px solid #00d4bf;
}

.button-inside {
    position: relative;
}

.erase-btn {
    border: none;
    border-bottom: 5px solid #009688;
    height: 50px;
    width: 28px;
    margin-right: -4px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #009688;
    transition: 0.3s;
}

.erase-btn:hover {
    cursor: pointer;
    background-color: #00d4bf;
}

.button-inside input {
    height: 25px;
    width: 90%;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

@media (max-width: 940px) {
    .nav-btn {
        font-size: 17px;
    }
}

.align-ul-mobile {
    display: none;
}

.align-ul-mobile ul {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 60px;
    padding: 0;
    margin-bottom: 20px;
}

.align-ul-mobile ul button {
    padding: 0;
    background-color: #009688;
    width: 70px;
    text-align: center;    
}

@media (max-width: 650px) {
    .ul-footer {
        display: flex;
        justify-content: center;
    }

    .ul-footer li:nth-child(n+4) {
        display: none;
    }

    .ul-footer li:nth-child(3) {
        border-right: 2px solid #00d4bf;
    }

    .align-ul-mobile {
        display: unset;
    }

    .text-input:focus {
        width: 150px
    }

    .input-line-wrapper {
        height: 150px;
    }

    .align-ul-mobile {
        margin-bottom: 20px;
    }
}

@media (max-width: 390px) {
    .nav-btn {
        font-size: 13px;
    }

    .text-input:focus {
        width: 150px
    }

    .input-line-wrapper {
        height: 150px;
    }
}