* {
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #0c5460;
}

a {
    text-decoration: none;
}
ul , li , h1 {
    margin: 0 ;
    /* padding: 0; */
}

.navbar-area {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 5px solid red;
}

h1 {
    text-align: center;
}

/* about-us area */

.page-footer {
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    border-top: 5px solid black;
}

.profile {
    width: 80%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.team-member {
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.profile-image {
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.members {
    align-items: center;
}

@media (max-width: 768px) {
    .members {
        flex-direction: column;
    }
}

.profile-desc {
    text-align: center;
}

/* contact us area */

.contact-us {
    position: relative;
    transition: 0.5s;
}

.contact {
    position: absolute;
    left: -1000px;
    transition: 0.3s;
    z-index: 1;
}

.contact-show {
    left: 0;
}