* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 5px solid red;
}

h1 {
    text-align: center;
}

.memes-search {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* layout */
.memes-playground-container {
    height: 50%;
    width: 100%;

}

/* canvas */
.canvas-wrapper {}

canvas {
    border: 1px solid black;
}

.bar-wrapper {
    height: 400px;
    width: 200px;
    background-color: #8bc34a;
    border-radius: 10px;
    text-align: center;
}

.final-stage {
    bottom: 0;
}

/* meme text */
.meme-text {
    height: 30px;
    background-color: #812222;
    width: 30px;
    display: inline-block
}

/* gallery */
.gallery-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    width: auto;
    margin: 50px;
}

.grid-container img {
    cursor: pointer;
}



@media (max-width: 1040px) and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

.image-render-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.3s;
}
.image-render-style:hover {
    box-shadow: -webkit-box-shadow: 0px 10px 41px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 41px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 41px 5px rgba(0,0,0,0.75);
    transform: translateY(-15px);
    transform: scale(1.1)
}

.pop-words {
    height: 120px;
    width: 600px;
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .pop-words {
        width: 90%;
    }
}

.pop-word {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-word:hover {
    cursor: pointer;
    background-color: salmon;
}

.page-footer {
    width: 100%;
    height: 100px;
    background-color: rgb(185, 184, 184);
    position: relative;
    bottom: 0;
}

/* helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center
}

.space-evenly {
    justify-content: space-evenly
}

.hidden {
    display: none
}

/* buttons  */


.controller-btn {
    border: white 3px solid;
    border-radius: 10px;
    background: #812222;
    transition: 0.3s;
    color: white;
}

.controller-btn:hover {
    border: #812222 3px solid;
    background-color: white;
    color: #812222;

}

.button-inside {
    position: relative;
}

.erase-btn {
    position: absolute;
    right: 12px;
    top: 3px;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

.erase-btn:hover {
    cursor: pointer;
}

.button-inside input {
    height:25px;
    width: 90%;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}